@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

html {
  background-color: black;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: lightskyblue;
}

a:hover {
  filter: brightness(65%);
  transition: all 0.15s ease-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 5vh 10vw;
  font-family: 'Recursive', monospace;
}

.test {
  font-size: 32px;
}

.text-container {
  display: flex;
}

.poem-container {
  margin-top: 14vh;
}
